[submodule "3rd/ut"]
	path = 3rd/ut
	url = https://github.com/boost-ext/ut.git
[submodule "3rd/json"]
	path = 3rd/json
	url = https://github.com/nlohmann/json
[submodule "3rd/rapidxml"]
	path = 3rd/rapidxml
	url = https://github.com/spaceape3001/rapidxml.git
[submodule "3rd/asio"]
	path = 3rd/asio
	url = https://github.com/chriskohlhoff/asio.git
